<%- include('../partials/header') %> 

<h2 class = "products-title">Available Listings</h2>
<table class = 'product-table'>
    <thead>
        <th></th>
        <th id = "product-table-name">Name</th>
        <th id = "product-table-price">Price</th>
    </thead>
</table>


</section class = "all-products">
    <% products.forEach(product => { %>
        <div class = "all-product-item">
            <div style = "background-image: url('/public/images/hybrid.png')" class = "featured-product-item-image"></div>
            <input class = "title" type="text" value = "<%= product.name %>">
            <input class = "title" type="text" value = "$<%= product.price %>">
            <form method = "POST" action="/products/<%= product._id %> %>?_method=PUT">
                <button class = "product-edit-button" type = "submit">Edit and Save</button>
            </form>
            <a href="/products/<%= product._id %> "><button>View Item</button></a>
        </div>
     
    <% }) %>
</section>


<%- include('../partials/footer') %> 
