<%- include('../partials/header') %> 

<h2 class = "products-title">Available Listings</h2>
<table class = 'product-table'>
    <thead>
        <th></th>
        <th id = "product-table-name">Name</th>
        <th id = "product-table-price">Price</th>
    </thead>
</table>


</section class = "all-products">
    <% products.forEach(product => { %>
        <div class = "all-product-item">
            <div style = "background-image: url('/public/images/hybrid.png')" class = "featured-product-item-image"></div>
            <p class="title"><%= product.name %> </p>
            <p class = "price">$<%= product.price %> </p>
            <a href="/products/<%= product._id %> "><button>View Item</button></a>
        </div>
     
    <% }) %>
</section>


<%- include('../partials/footer') %> 
