<%- include('../partials/header')  %> 
<section id = "product-detail">
    <h2>Product Detail</h2>
    <div><%= product.title %> </div>
    <div>Type:</div>
    <div><%= product.type %> </div>
    <div>Model</div>
    <div><%= product.model %> </div>
    <div></div>
</section>

<%- include('../partials/footer')  %> 